<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/ErrorPage.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
  </head>

  <body>
    <img
      class="error-pic"
      src="{{ url_for('static', filename='images/errorpage.png') }}"
      alt="download image"
    />
    <div class="error-container">
      <h2 class="error-heading">
        In a forgiving mood, let them keep their jobs
        <a href="http://localhost:5000/">Home</a>
      </h2>
      <p class="error-message"></p>
      <p>Confirm the URL for accuracy and retry the download.</p>
      <p>{{ Error }}</p>
    </div>
  </body>
</html>
