<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDrive Downloader</title>
</head>

<body>

    <div class="container">
        <form action="{{ url_for('gdrive_download')}}" method="post">
            <label for="dropdown">Choose an option:</label>
            <select id="drop" name="options">
                <option value="nothing"></option>
                <option value="download_file">download_file</option>
                <option value="download_folder">download_folder</option>
            </select>
            <input name="URL" type="url">
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>