<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="views" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="{{ url_for('get_options')}}" method="post">
            <label for="dropdown">choose an option:</label>
            <select id="dropdown" name="select_options">
                <option value="nothing"></option>
                <option value="Youtube">Youtube</option>
                <option value="Instagram">Instagram</option>
                <option value="X">X</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>
