<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Instagram Downloader</title>
    <link rel="stylesheet" href="static/styles/Instagram.css" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
  </head>
    <body>
    <header class="header">
      <div class="header-container">
        <div class="header_logo">
          <a href="/">
            <img src="/static/images/insta2.gif" />
          </a>
        </div>
        <main class="content">
          <div class="container">
            <h1 class="content_title">Paste ONLY Instagram URL here</h1>
            <section class="form">
              <form
                action="{{ url_for('InstagramDownload')}}"
                method="post"
                class="youtube-form"
              >
              <input name="URL" type="url" class="url-input" /><br />
              <label for="username">Username to scrape from</label>
              <input name="username" type="text" />
              <br /><br /><button type="submit" class="download-button">Download</button>
              </form>
              
            </section>
          </div>
        </main>

        <div class="header_right">
          <ul class="header_nav">
            <li>
              <a href="http://localhost:5000/HomePage/About/LandingPage?"
                >About</a
              >
            </li>
            <li>
              <a href="//www.instagram.com">Instagram</a>
            </li>
            <li>
              <a href="//www.youtube.com">YouTube</a>
            </li>
            <li>
              <a href="//drive.google.com/drive">Google drive</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="home-description">
      <div class="header-item">
        <p class="header-item-text">
          "Every day, numerous users share captivating images and videos on Instagram, a popular social media platform. Unfortunately, Instagram does not provide a native option to download content directly from its platform. However, with our Instagram Downloader, you can easily save high-quality images and videos from Instagram profiles hassle-free <a href="http://localhost:5000/">SaveTube</a>"
        </p>
        <h2 class="how-to-download">Below is a guide on how to download videos from Instagram</h2>
        <p class="download-instructions">
          <p class="download-instructions">
            1. Access Instagram website/app and log in to your account.<br>
            2. Navigate to the Profile, Search for or visit the profile from which you want to download content.<br>
            3. Click on the profile and copy the URL from the browser's address bar.<br>
            4. Go to the first input field on our website specifically meant for URL input. Paste the copied profile URL into this space.<br>
            5. In the provided text field labeled "username to scrape from," type or input the username of the profile you wish to scrape content from.<br>
            6. Click on the "Download" button to start the download process.<br>
            After download, you can access the downloaded profile content from your local machine in the download folder.
        </p>
        
        </p>
    </div>
    <footer>
      <p>&copy; 2023 SaveTube. All rights reserved.</p>
  </footer>
  
  </body>
</html>
