<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Downloader</title>
    <link rel="stylesheet" href="styles/Instagram.css"> <!-- Link to the external CSS file -->
</head>

<body>
    <div class="container">
        <form action="{{ url_for('InstagramDownload')}}" method="post" class="instagram-form">
            <h2 class="form-heading">Instagram Downloader</h2>
            <h3 class="input-heading">Input URL</h3>
            <input name="URL" type="url" class="url-input">
            <br><br><button type="submit" class="download-button">Download Profile</button>
            <br>
        </form>
    </div>
</body>

</html>
