<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="views" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="color: blueviolet;">
        <form action="/options/Instagram" method="post">
            <h2>X downloader</h2>
            <h3>Input url</h3>
            <input name="URL" type="url">
            <br><br><button id="sub", type="submit">Download Data</button>
            <br>
        </form>
    </div>
</body>
</html>