<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="views" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="color: blueviolet;">
        <form action="{{ url_for('YoutubeDownload')}}" method="post">
            <h2>Youtube video downloader</h2>
            <h3>url link</h3>
            <input id="first" name="URL" type="url">
            <br><br><button id="sub", type="submit">Download video</button>
            <br>
        </form>
    </div>
</body>
</html>