<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="static/styles/YouTube.css" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
  </head>
    <body>
    <header class="header">
      <div class="header-container">
        <div class="header_logo">
          <a href="/">
            <img src="/static/images/Landing.png" />
          </a>
        </div>
        <main class="content">
          <div class="container">
            <h1 class="content_title">Paste ONLY YouTube URL here</h1>
            <section class="form">
              <form
                action="{{ url_for('YoutubeDownload')}}"
                method="post"
                class="youtube-form"
              >
                <input name="URL" type="url" placeholder="Paste ONLY YouTube URL here" class="url-input" />
                <button type="submit" class="download-button">
                  Download Video
                </button>
              </form>
              <div class="download-info">
                <img src="/static/images/download_here.png" />
                <p class="download_info-text">
                  Type the url of you favorite video or copy link and paste
                  above
                </p>
              </div>
            </section>
          </div>
        </main>

        <div class="header_right">
          <ul class="header_nav">
            <li>
              <a href="http://localhost:5000/HomePage/About/LandingPage?"
                >About</a
              >
            </li>
            <li>
              <a href="//www.instagram.com">Instagram</a>
            </li>
            <li>
              <a href="//www.youtube.com">YouTube</a>
            </li>
            <li>
              <a href="//drive.google.com/drive">Google drive</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="home-description">
      <div class="header-item">
        <p class="header-item-text">
          "Every single day, countless users contribute millions of video clips
          to the renowned video hosting platform, YouTube, sharing their content
          with a wide audience. Regrettably, YouTube does not offer a built-in
          feature that allows free downloads of videos or music from its
          platform. BUT with <a href="http://localhost:5000/">SaveTube</a>  you can download highest quality videos for free"
        </p>
        <h2 class="how-to-download">Below is a guide on how to download videos from YouTube</h2>
        <p class="download-instructions">
            1. Open the YouTube.com website and select the video you want to save.<br>
            2. Start the video and wait for it to begin playing.<br>
            3. Copy the video's address from the browser's address bar.<br>
            4. Paste the copied link into the search bar on our website.<br>
            5. Click the Download button.  <br>  
            
            After download you view the saved video from your local machine in your Downloads folder
        </p>
    </div>
    <footer>
      <p>&copy; 2023 SaveTube. All rights reserved.</p>
  </footer>
  
  </body>
</html>
