body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.error-container {
  width: 80%;
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}

.error-heading {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: Ariel;
  color: rgb(96, 96, 96);
}

.error-message {
  color: #fd0c0c;
  font-size: 12px;
  line-height: 1.2;
}
.error-pic {
  width: 100%;
}
